@import "../../styles/variables.scss";

.footerContainer {
  background-color: $lightPink;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  & h3 {
    color: $pink;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
}

.left {
  color: $pink;

  & svg {
    width: 75px;
  }

  & .name {
    font-family: ingra, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 0.5rem;
  }

  & p {
    font-size: 0.2rem;
  }
}

.right {
  font-size: 0.6rem;
  display: flex;
  justify-content: space-between;
}

.footerContainer li {
  list-style: none;
  font-family: ingra, sans-serif;
  font-weight: 700;
  font-style: normal;

  & a:visited {
    color: $blue;
  }
}

.footerUL {
  margin-left: 1rem;
}

/*Media Queries*/
/* Larger than tablet (also point when grid becomes active) */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
  .footerContainer {
    align-items: center;
    padding: 2rem;
  }
  .left {
    & svg {
      width: 10rem;
    }

    & .name {
      font-size: 1rem;
    }

    & p {
      font-size: 1rem;
    }
  }
  .right {
    font-size: 1rem;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}

/* For TV Screens & Projectors */
@media (min-width: 2000px) {
}
